<!-- templates/base.html -->
{% load static %}
<html>

<head>
    <title>To Do App</title>
    <link rel="preconnect"
     href="https://fonts.googleapis.com">
<link rel="preconnect"
 href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
 rel="stylesheet">
    <link rel="stylesheet"
     href="{% static 'css/base.css' %}">
</head>

<body>
    <header>
        <div class="nav-left">
           <h1><a href="{% url 'home' %}">To Do App</a></h1> 
        </div>
        <div class="nav-right">
            <a href="{% url 'task_new' %}">+ New Task</a>
        </div>
</header>
{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-link">Log Out</button>
</form>
{% else %}
<p>You are not logged in.</p>
<a href="{% url 'login' %}" class="btn">Log In</a>
<a href="{% url 'signup' %}" class ="btn">Sign Up</a>
{% endif %}
<div>
    {% block content %}
    {% endblock content %}
</div>
</body>

</html>
