{% extends 'base.html' %}

{% block content %}
<div class="max-w-2xl mx-auto mt-10 space-y-6 bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-purple-800">{{ object.title }}</h2>
    <p class="text-sm text-gray-500">by {{ object.author }} | {{ object.created_at|date:"M d, Y H:i" }}</p>
    <p class="text-gray-700 mt-4">{{ object.description }}</p>

    <div class="flex justify-between items-center pt-6 border-t border-gray-200">
        <div class="space-x-4">
            {% if taskscheduler.author.pk == request.user.pk %}
              <a href="{% url 'taskscheduler_edit' taskscheduler.pk %}"
               class="text-indigo-600 hover:underline">
                Edit</a>
              <a href="{% url 'taskscheduler_delete' taskscheduler.pk %}"
               class="text-red-500 hover:underline">
                Delete</a>
            {% endif %}
        </div>
        <a href="{% url 'taskscheduler_list' %}"
         class="text-gray-600 hover:underline">
         ← All Task Schedules</a>
    </div>
</div>
{% endblock content %}
